/* about-style.css */
main {
    padding: 20px;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
  }
  
  h1, h2 {
    font-family: Arial, sans-serif;
    color: #00274d;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  blockquote {
    font-style: italic;
    background-color: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 20px 0;
    padding: 10px 20px;
  }
<<<<<<< HEAD
  
  address {
    font-style: normal;
    line-height: 1.6;
  }
  
  header {
    background-color: #00274d;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header img.logo {
    height: 60px;
    width: auto;
  }
  
  footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    color: #00274d;
  }
  
=======
      
>>>>>>> parent of 7d93e8a (About Fix 2)
